.body{
   height: 100vh;
   width: 100vw;
   background-color: whitesmoke;
   padding: 0.4rem 4rem;
   box-sizing: border-box;
}
.sheet{
    background:linear-gradient(100deg,rgb(251, 188, 5)  , rgb(245, 214, 123) 80% );
    padding: 0.4rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.phoneIcon{
    margin-left: 1rem;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon{
    margin-left: 1rem;
    margin-right: 0.25rem;
}